.prime-btn {
  margin: 20px 30px;
  --background: #ffc816 !important;
  --background-activated: #69530bd5 !important;
}
.prime-btn-nt {
  margin: 20px 30px;
  --background: #ff7259 !important;
  --background-activated: #69530bd5 !important;
}
