<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="aperture"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sugar-level-for-doctor">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Sugar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat-user-list">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>

      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
