<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>All Task</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 class="ion-padding">All Tasks</h3>

  <ion-list>
    <ion-item [class.done]="t.completed" *ngFor="let t of tasks | async">
      <ion-label><h2>{{t.name}}</h2></ion-label>
      <ion-note slot="end">
        {{t.createdAt | date:"short"}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
