<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="heading"
      >Register in to <br />
      Suvarsh Technology</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="input">
    <div class="label">Hospital Id</div>
    <ion-input
      maxlength="10"
      (keyup)="getHospital($event)"
      type="text"
      autofocus="true"
    ></ion-input>
  </div>
  <div
    *ngIf="hosp"
    class="label ion-padding"
    style="border-radius: 10px; border: 1px solid red; margin: 20px 0px"
  >
    <ion-label>{{hosp.name}},{{hosp.address}}</ion-label>
  </div>
  <div class="input">
    <div class="label">Full Name</div>
    <ion-input [(ngModel)]="data.fullname" type="text"></ion-input>
  </div>
  <div class="input">
    <div class="label">Email</div>
    <ion-input [(ngModel)]="data.email" type="email"></ion-input>
  </div>
  <div class="input">
    <div class="label">Password</div>
    <ion-input [(ngModel)]="data.password" type="password"></ion-input>
  </div>
  <div class="input">
    <ion-list>
      <ion-item>
        <ion-label class="label" *ngIf="!data.role">Select Role</ion-label>
        <ion-label class="label" *ngIf="data.role"
          >{{data.role | uppercase}}</ion-label
        >
        <ion-select [(ngModel)]="data.role" interface="action-sheet">
          <ion-select-option value="{{r.role}}" *ngFor="let r of roles"
            >{{r.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="input">
    <div class="label">Phone Number</div>
    <ion-input [(ngModel)]="data.phone" type="text"></ion-input>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <label slot="start" (click)="navigate()" class="no-color-btn" mode="ios"
      >Already have an account ?</label
    >
    <ion-button slot="end" class="prime-btn" (click)="register()" mode="ios"
      >Register</ion-button
    >
  </ion-toolbar>
</ion-footer>
