<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="heading"
      >Login in to <br />
      Suvarsh Technology</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="input">
    <div class="label">Email</div>
    <ion-input
      [(ngModel)]="data.email"
      type="email"
      autofocus="true"
    ></ion-input>
  </div>
  <div class="input">
    <div class="label">Password</div>
    <ion-input [(ngModel)]="data.password" type="password"></ion-input>
    <!-- <small class="small">Forgot Password ? </small> -->
  </div>

  <ion-button class="prime-btn" (click)="login()" mode="ios" expand="block"
    >Login</ion-button
  >
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button
    class="no-color-btn"
    (click)="route.navigateForward('register')"
    mode="ios"
    expand="block"
    >Don't have an account ?</ion-button
  >
</ion-footer>
