ion-title {
  margin: 10% 0%;
}
.input {
  ion-input {
    border: 1px solid #707070;
    margin: 10px 0px;
    border-radius: 10px;
  }
}
.prime-btn {
  margin: 20px 0px;
  --background: #ffc816 !important;
  --background-activated: #69530bd5 !important;
}
.no-color-btn {
  color: blue;
  font-size: 24px;
  margin: 0px 10px;
  --background-activated: transparent !important;
  --background: transparent !important;
}
